openapi: 3.0.3
info:
  title: Code Rats API
  version: 1.0.0
  description: API da plataforma gamificada Code Rats, permitindo gerenciamento de usuários, grupos, checkins e interações sociais.

servers:
  - url: https://api.coderats.com/v1
    description: Servidor principal

tags:
  - name: Authentication
    description: Endpoints para login e cadastro de usuários
  - name: Users
    description: Endpoints relacionados a perfis e dados do usuário
  - name: Groups
    description: Endpoints para gerenciamento de grupos/desafios
  - name: Checkins
    description: Endpoints para criação, listagem e interação com checkins

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login de usuário
      description: Permite que um usuário autenticado obtenha um token JWT.
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequest'
      responses:
        '200':
          description: Autenticação bem-sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users:
    post:
      tags:
        - Users
      summary: Cadastro de usuário
      description: Cria um novo usuário na plataforma.
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
      responses:
        '201':
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/me:
    get:
      tags:
        - Users
      summary: Obter perfil do usuário autenticado
      description: Retorna os dados do usuário logado.
      operationId: getCurrentUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Perfil retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Users
      summary: Atualizar perfil do usuário autenticado
      description: Permite atualizar dados do usuário. Campos não enviados não são alterados.
      operationId: updateCurrentUser
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: Perfil atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Users
      summary: Excluir conta do usuário autenticado
      description: Permite que o usuário exclua sua própria conta. Esta ação é irreversível.
      operationId: deleteCurrentUser
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Conta excluída com sucesso
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{id}/profile:
    get:
      tags:
        - Users
      summary: Obter perfil público de outro usuário
      description: Retorna informações públicas de um usuário específico.
      operationId: getUserProfile
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Perfil retornado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPublicResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{id}/groups:
    get:
      tags:
        - Users
      summary: Listar grupos do usuário
      description: Retorna todos os grupos em que o usuário participa.
      operationId: getUserGroups
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de grupos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /groups:
    post:
      tags:
        - Groups
      summary: Criar grupo
      description: Cria um novo grupo de desafio. O usuário que cria o grupo se torna automaticamente o owner.
      operationId: createGroup
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateRequest'
      responses:
        '201':
          description: Grupo criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Groups
      summary: Listar todos os grupos
      description: Retorna todos os grupos públicos ou que o usuário participa, com suporte a paginação.
      operationId: listGroups
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            example: 10
        - name: offset
          in: query
          schema:
            type: integer
            example: 0
      responses:
        '200':
          description: Lista de grupos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /groups/{id}:
    get:
      tags:
        - Groups
      summary: Obter detalhes de um grupo
      description: Retorna detalhes de um grupo específico. Apenas membros podem acessar grupos privados.
      operationId: getGroupById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Grupo retornado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Groups
      summary: Atualizar grupo
      description: Permite atualizar informações do grupo. Apenas owner ou admin podem alterar.
      operationId: updateGroup
      security:
        - BearerAuth: []
      parameters: # <-- PARÂMETRO ADICIONADO AQUI
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateRequest'
      responses:
        '200':
          description: Grupo atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Groups
      summary: Excluir grupo
      description: Apenas o owner do grupo pode deletá-lo. Remove também todos os checkins associados.
      operationId: deleteGroup
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Grupo excluído com sucesso
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /groups/{id}/join:
    post:
      tags:
        - Groups
      summary: Entrar em grupo
      description: Permite que um usuário entre em um grupo utilizando o entry_code.
      operationId: joinGroup
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entry_code]
              properties:
                entry_code:
                  type: string
                  example: "elite2025"
      responses:
        '200':
          description: Usuário adicionado ao grupo
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /groups/{id}/leave:
    post:
      tags:
        - Groups
      summary: Sair de grupo
      description: Permite que o usuário saia de um grupo do qual é membro.
      operationId: leaveGroup
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Usuário saiu do grupo
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /groups/{id}/checkins:
    post:
      tags:
        - Checkins
      summary: Criar checkin em grupo
      description: Permite criar uma publicação de progresso dentro do grupo. Apenas membros podem criar.
      operationId: createCheckin
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinCreateRequest'
      responses:
        '201':
          description: Checkin criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckinResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Checkins
      summary: Listar checkins de grupo
      description: Retorna todos os checkins de um grupo. Apenas membros podem acessar.
      operationId: listGroupCheckins
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            example: 10
        - name: offset
          in: query
          schema:
            type: integer
            example: 0
      responses:
        '200':
          description: Lista de checkins
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckinResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /checkins/{id}:
    delete:
      tags:
        - Checkins
      summary: Excluir checkin
      description: Permite remover um checkin. Apenas autor, owner ou admin podem excluir.
      operationId: deleteCheckin
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Checkin excluído
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /checkins/{id}/like:
    post:
      tags:
        - Checkins
      summary: Curtir checkin
      description: Adiciona um like ao checkin pelo usuário autenticado.
      operationId: likeCheckin
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Like adicionado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckinResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Checkins
      summary: Remover like
      description: Remove o like do usuário autenticado de um checkin.
      operationId: unlikeCheckin
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Like removido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckinResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /checkins/{id}/comments:
    post:
      tags:
        - Checkins
      summary: Adicionar comentário
      description: Permite ao usuário adicionar um comentário a um checkin.
      operationId: addCheckinComment
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  example: "Adorei o seu progresso! Continue assim 🚀"
      responses:
        '201':
          description: Comentário criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Checkins
      summary: Listar comentários
      description: Retorna todos os comentários de um checkin.
      operationId: listCheckinComments
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de comentários
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # --- Auth Schemas ---
    UserLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: "maria@example.com"
        password:
          type: string
          format: password
          example: "secret123"
    AuthResponse:
      type: object
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

    # --- User Schemas ---
    UserCreateRequest:
      type: object
      required: [name, email, password, github_url]
      properties:
        name: { type: string, example: "Maria Silva" }
        email: { type: string, format: email, example: "maria@example.com" }
        password: { type: string, format: password, example: "secret123" }
        institution: { type: string, nullable: true }
        github_url: { type: string, format: uri, example: "https://github.com/mariasilva" }
    UserUpdateRequest:
      type: object
      properties:
        name: { type: string }
        email: { type: string, format: email }
        password: { type: string, format: password }
        institution: { type: string, nullable: true }
        github_url: { type: string, format: uri }
    UserResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        email: { type: string, format: email }
        institution: { type: string, nullable: true }
        github_url: { type: string, format: uri }
    UserPublicResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        github_url: { type: string, format: uri }

    # --- Group Schemas ---
    GroupCreateRequest:
      type: object
      required: [name, description, start_date, end_date, entry_code]
      properties:
        name: { type: string }
        description: { type: string }
        image_url: { type: string, format: uri, nullable: true }
        start_date: { type: string, format: date-time }
        end_date: { type: string, format: date-time }
        entry_code: { type: string }
    GroupUpdateRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        image_url: { type: string, format: uri, nullable: true }
        start_date: { type: string, format: date-time }
        end_date: { type: string, format: date-time }
    GroupResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        image_url: { type: string, format: uri, nullable: true }
        start_date: { type: string, format: date-time }
        end_date: { type: string, format: date-time }
        owner: { $ref: '#/components/schemas/UserPublicResponse' }
        members_count: { type: integer }

    # --- Checkin/Comment Schemas ---
    CheckinCreateRequest:
      type: object
      required: [title]
      properties:
        title: { type: string }
        description: { type: string, nullable: true }
        link: { type: string, format: uri, nullable: true }
        image_url: { type: string, format: uri, nullable: true }
        comment: { type: string, nullable: true }
    CheckinResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        link: { type: string, format: uri, nullable: true }
        image_url: { type: string, format: uri, nullable: true }
        comment: { type: string, nullable: true }
        likes: { type: integer }
        author: { $ref: '#/components/schemas/UserPublicResponse' }
        group: { $ref: '#/components/schemas/GroupResponse' }
        created_at: { type: string, format: date-time }
    CommentResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        text: { type: string }
        author: { $ref: '#/components/schemas/UserPublicResponse' }
        created_at: { type: string, format: date-time }

    # --- Error Schema ---
    ErrorResponse:
      type: object
      properties:
        statusCode: { type: integer }
        message: { type: string }
        errorCode: { type: string, nullable: true }

  responses:
    BadRequest:
      description: Requisição inválida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Não autenticado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Acesso negado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Erro interno do servidor
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'